.tabela-vendas .linha-tabela.-interna.-disabled {
    display: table-row;
    /*display: none;*/
}

.tabela-vendas .coluna-tabela.-interna {
    background-color: rgb(53, 196, 101);    
}

.tabela-vendas .coluna-tabela.-null {
    background-color: #282c34; 
    border: none;  
}

.tabela-vendas .coluna-tabela.-interna.-min:hover {
    background-color: rgb(53, 196, 101); 
    cursor: unset;
}

